.DetailsPokemon{
  background-color: #ddd;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Head{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: red;
  flex-grow: 1;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: blue;
  min-width: 175px;
  flex-grow: 1;
}
.stadistics{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: gray;
}